.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--mat-sys-background);
	padding: 1rem 0;
  
	.container {
	  width: 90%;
	  max-width: 1200px;
	  margin: 0 auto;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  gap: 3rem;
  
	  @media (max-width: 768px) {
		flex-direction: column;
		text-align: center;
	  }
	}
  
	.hero-content {
	  max-width: 600px;
		h1 {
			font-size: 3rem;
			font-weight: bold;
			margin-bottom: 1.5rem;
		}
	
		.highlight {
			color: var(--mat-sys-primary);
		}
	
		p {
			font-size: 1.5rem;
			margin-bottom: 2rem;
			color: var(--mat-sys-secondary);
		}
	
		.social-links {
			display: flex;
			gap: 1rem;
		  
			.social-icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background: var(--mat-sys-surface-container);
				color: var(--mat-sys-primary);
				margin: 0 10px;
				padding: 8px;
				transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
			
				svg {
					width: 28px;
					height: 28px;
					fill: var(--mat-sys-primary);
					transition: fill 0.3s ease;
				}
			
				&:hover {
					background-color: var(--mat-sys-primary);
					color: var(--mat-sys-on-primary);
					transform: scale(1.05);
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adds a light shadow effect */
				}
			
				&:hover svg {
					fill: var(--mat-sys-on-primary); /* Changes icon color on hover */
				}
			}
		  }
		  
	}
  
	.hero-image {
	  max-width: 400px;
  
	  img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	  }
	}
}
  